{% include 'admin_menu.html' %}
<div class="container-fluid">
  <div class="row">

    <div class="col-lg-4">

      <h3 class="mt-3"> Menu Links </h3>
      <nav class="navbar navbar-expand-*">
        <div class="container-fluid">
         
       {% include 'side_menu.html'%}
        </div>
      </nav>
    </div>
    <div class="col-lg-8">
<form name="form1" method="post" action="">
  <h3 class="text-warning">Bird category view</h3>
  <hr>
  <form method="post">
    {% csrf_token %}
  <p> <input type="text" name="search" class="form-control  border-2 border border-success w-50" placeholder="Search">
    <input type="submit" class="btn btn-outline-success mt-3 mb-3 w-50" value="Search"></p>
    </form>
    <table class="table table-bordered table-striped">
      <thead class="table-dark">
        <tr>
 
    
      <th>Category name</th>
      <th>Action</th>
      <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    {% for i in userdict %}
    <tr>
      <td>&nbsp;{{i.category_name}}</td>
      <td>&nbsp;<a href="{% url 'bird_cat_del' i.id %}"  onclick="return confirm('are u sure want to delete')">
        <i class="fa fa-trash fs-4 text-primary"></i></a></td></td>
        <td><a href="{% url 'bird_cat_edit' i.id %}"><i class="fa fa-pencil-square" style="font-size:24px"></i></a></td>
          </tr>
          {% endfor %}
  </table>
</form>
</div>

</div>
</div>
<div class="container-fluid bg-dark p-3 " style="margin-top:150px;">
  <div class="row">
    <p class="text-white"> <marquee width="60%" direction="left" height="50px">&copy copyright 2023 Birds Sanctuary </p>
  </div>

</div>
</body>
</html>
