{% include 'manager_menu.html' %}
<div class="container-fluid">
  <div class="row">

    <div class="col-lg-2">



    </div>
    <div class="col-lg-10">

        <h3 class="text-warning mt-3" >Visitors</h3>
        <hr>
        <h3> <a href="{% url 'foreign_visitors' %}" class="nav-link"> No of Foreign Visitors </a> </h3>
        <h3> <a href="{% url 'indian_visitors' %}" class="nav-link">  No of Indian Visitors </a> </h3>
    </div>

</div>
</div>
<div class="container-fluid bg-dark p-3 " style="margin-top:150px;">
  <div class="row">
    <p class="text-white"> <marquee width="60%" direction="left" height="50px">&copy copyright 2023 Birds Sanctuary </p>
  </div>

</div>
</body>
</html>
